language: java
jdk: oraclejdk8
install: "./gradlew clean build -x test"
script:
- echo 'hello'
before_install:
- openssl aes-256-cbc -K $encrypted_512b2015aa14_key -iv $encrypted_512b2015aa14_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
addons:
  ssh_known_hosts: 47.106.127.210

after_success:
  - scp build/libs/jxc-service-0.0.1-SNAPSHOT.jar root@47.106.127.210:/opt
  - - scp run.sh root@47.106.127.210:/opt/
  - ssh root@47.106.127.210 "bash /opt/run.sh /opt/jxc-service-0.0.1-SNAPSHOT.jar restart"
